.produce-image img {
    width: 345px;
    height: 297px;
    margin-bottom: 24px;
}

.produce-container {
    padding-left: 131px;
    padding-right: 128px;
    padding-top: 108px;
    padding-bottom: 120px;
}

.produce-container h2 {
    text-align: center;
    font-weight: 400;
    font-size: 50.6496px;
    font-family: "Roboto";
    margin-bottom: 47px;
}

.produce-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}